.cart-item-container {
  list-style: none;
  margin-bottom: 10px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.cart-item-image {
  width: 130px;
  height: 180px;
}

.cart-item-details {
  flex: 1;
  margin-left: 15px;
}

.cart-item-name {
  font-size: 22px;
  font-weight: 500;
  color: #1f1f1f;
  font-family: 'Roboto';
}

.control-btn-group {
  display: flex;
  align-items: center;
}

.control-btn {
  padding: 2px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Roboto';
  background-color: blueviolet;
  color: #fff;
}

.cart-item-quantity {
  margin: 0 15px;
  font-size: 14px;
  color: #1f1f1f;
  font-family: 'Roboto';
}
